*{
    margin:0;
    padding:0;
}
body{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(169, 223, 235);
    margin: 100px;
}

#counter{
    width:270px;
    height:320px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 25px;
}
#number{
    width:200px;
    height:100px;
    color:  #ff0000;
    background-color: rgb(202, 191, 253);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Oswald';
    font-size:60px;
    font-weight: bold;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    overflow: hidden;
    border-radius: 35px;
}
#pulsanty{
    margin-top:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
button{
    width:70px;
    height:70px;
    outline:none;
    border:none;
    color:  #ff0000;
    background-color: rgb(202, 191, 253);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Oswald';
    font-size:60px;
    margin:0 30px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    cursor:pointer;
    transition:all 0.2s ease-in-out;
    border-radius: 15px;
}

#reset{ width:70px;
    height:30px;
    outline:none;
    border:none;
    color: #ff0000;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Oswald';
    font-size:30px;
    margin:15px 30px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    cursor:pointer;
    transition:all 0.2s ease-in-out;

}
button:hover{
    transform: scale(1.10);
}
button:active{
    background-color: violet;
}

