body {
  margin: 0;
  padding: 0;
  background-image: url(https://e1.pxfuel.com/desktop-wallpaper/284/177/desktop-wallpaper-stock-7001-colorful-abc-english-alphabet.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: azure;
  border: outset 5px;
  border-radius: 20px;
  height: 500px;
  width: 500px;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 18%;
}

.counter {
  width: 270px;
  height: 260px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
  background-color: rgb(0, 0, 0);
  color: rgb(254, 0, 0);
  font-size: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 25px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  height: 30%;
}

.plus,
.minus,
.reset {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 70px;
  height: 70px;
  outline: none;
  border: none;
  color: #ff0000;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Oswald";
  font-size: 60px;
  margin: 0 30px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: 15px;
}

.plus:hover {
  transform: scale(1.1);
  background-color: rgb(235, 14, 255);
}
.minus:hover {
  transform: scale(1.1);
  background-color: rgb(235, 14, 255);
}
.reset:hover {
  transform: scale(1.1);
  background-color: rgb(235, 14, 255);
}
.reset {
  font-size: 25px;
}

footer {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}
/*
@media screen and (min-width: 350px) and (max-width: 1025px) {
  body {
    margin-top: 5px;
    padding: 0;
    background-image: url(https://e1.pxfuel.com/desktop-wallpaper/284/177/desktop-wallpaper-stock-7001-colorful-abc-english-alphabet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: azure;
    border: outset 5px;
    border-radius: 20px;
    height: 400px;
    width: 310px;
  }

  .head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 18%;
  }

  .counter {
    width: 200px;
    height: 160px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
    background-color: rgb(0, 0, 0);
    color: rgb(254, 0, 0);
    font-size: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 25px;
  }

  .buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 30%;
  }

  .plus,
  .minus,
  .reset {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 70px;
    height: 60px;
    outline: none;
    border: none;
    color: #ff0000;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Oswald";
    font-size: 60px;
    margin: 0 30px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-radius: 15px;
  }

  .plus:hover {
    transform: scale(1.1);
    background-color: rgb(235, 14, 255);
  }
  .minus:hover {
    transform: scale(1.1);
    background-color: rgb(235, 14, 255);
  }
  .reset:hover {
    transform: scale(1.1);
    background-color: rgb(235, 14, 255);
  }
  .reset {
    font-size: 25px;
  }

  footer {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
  }
}

@media screen and (max-width: 350px) {
  body {
    margin: 0;
    padding: 0;
    background-image: url(https://e1.pxfuel.com/desktop-wallpaper/284/177/desktop-wallpaper-stock-7001-colorful-abc-english-alphabet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: azure;
    border: outset 5px;
    border-radius: 20px;
    height: 300px;
    width: 210px;
  }

  .head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 18%;
  }
  #tit {
    margin-top: auto;
    font-size: small;
  }
  .counter {
    width: 90px;
    height: 90px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
    background-color: rgb(0, 0, 0);
    color: rgb(254, 0, 0);
    font-size: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 25px;
  }

  .buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 30%;
  }

  .plus,
  .minus,
  .reset {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 60px;
    height: 35px;
    outline: none;
    border: none;
    color: #ff0000;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Oswald";
    font-size: x-small;
    margin: 0 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-radius: 15px;
  }

  .plus:hover {
    transform: scale(1.1);
    background-color: rgb(235, 14, 255);
  }
  .minus:hover {
    transform: scale(1.1);
    background-color: rgb(235, 14, 255);
  }
  .reset:hover {
    transform: scale(1.1);
    background-color: rgb(235, 14, 255);
  }
  .reset {
    font-size: 25px;
  }

  footer {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
  }
}
*/
